$color-pack = false

@import '~vuetify/src/stylus/app'

html, body, .application
  width 100vw
  height 100vh
  overflow hidden

.v-toolbar
  &__content
    padding: 0 12px 0 12px !important

.flexhide-enter-active, .flexhide-leave-active
  transition: flex-basis .2s cubic-bezier(0.4, 0, 0.2, 1)

.flexhide-enter, .flexhide-leave-to
  flex-basis 0 !important
